
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" style="margin-top: 0px; font-size: 40px; font-family: 'Audiowide', cursive;
" href="{% url 'index' %}">TechLearn</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="https://github.com/infiniteoverflow/Tech-Learn/blob/master/Tech%20Learn.apk?raw=true"
                    ">Download
              App </a></li>
          <li ><a href=" #">Projects</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Notes</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Authors<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/ramanaditya">Aditya Raman</a></li>
                    <li><a href="#">Hersh Gahlot</a></li>
                    <li><a href="#">Ayushi</a></li>
                    <li><a href="#">Aswin Gopinathan</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            {% else %}
            <li><a href="{% url 'notes:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'notes:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% else %}
            <li><a href="{% url 'notes:user_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    
</nav>